{{#partial "content" }}
    <h1>Courses</h1>

    <ul>
        {{#each courseList}}
            <li> {{ name }} at {{ url }}</li>
        {{/each}}

    </ul>

    <form onsubmit="return validateCourse();" action="/courses" method="post">
        <input id="courseName" type="text" placeholder="course name" name="coursename">
        <input type="text" placeholder="course url" name="courseurl">
        <button>Submit</button>
    </form>
{{/partial}}


{{> base.hbs }}